<!--Log In-->
<div class="row justify-content-center grad" *ngIf="window=='LogIn'">
  <div class="col-6 ">
    <div style="text-align:center">
      <h1>
        Welcome
      </h1>
      <img width="300" alt="TABAS Logo" src="assets/tabas.png">
    </div>
    <!-- Log In -->
    <form class="form-horizontal">
      <div class="form-group">
        <label for="input_Username" class="col-sm-2 control-label">Username</label>
        <div class="col">
          <input type="text" class="form-control" id="input_Username" placeholder="Username" required>
        </div>
      </div>
      <div class="form-group">
        <label for="input_Password" class="col-sm-2 control-label">Password</label>
        <div class="col">
          <input type={{password_show}} class="form-control" id="input_Password" placeholder="Password" required>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="check_Password" (click)="showPassword()">
            <label class="form-check-label" for="check_Password">
              Show
            </label>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="input_Role" class="col-sm-1 control-label">Role</label>
        <div class="col">
          <select class="form-control" id="input_Role">
            <option *ngFor="let rol of listRole">{{rol}}</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col">
          <button type="button" class="btn btn-info btn-block" (click)="logIn()">Log In</button>
          <br>
          <div *ngIf="show_alert">
            <div class="alert alert-{{type_alert}} alert-dismissible fade show" role="alert">
              {{text_alert}}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="show_Alert(false)">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-8">
              <!-- Button trigger modal -->
              <button type="button" class="btn btn-success btn-block" data-toggle="modal" data-target="#exampleModal">
                Create New Account
              </button>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Sign Up Administrator</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <app-sign-up-admin></app-sign-up-admin>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>


<!--Menu-->
<div *ngIf="window=='Menu'">
  <nav class="navbar navbar-expand-lg navbar-primary bg-primary">
    <img src="assets/tabas_name(1).png" width="140" height="35">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarCreating" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Creation
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarCreating">
            <a class="dropdown-item" routerLink="C_Suitcases" (click)="imageView(false)">Suitcase</a>
            <a class="dropdown-item" routerLink="C_BagCart" (click)="imageView(false)">BagCart</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarAssignment" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Assignment
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarAssignment">
            <a class="dropdown-item" routerLink="A_PlaneToFlight" (click)="imageView(false)">Plane to Flight</a>
            <a class="dropdown-item" routerLink="A_BagCartToFlight" (click)="imageView(false)">BagCart to Flight</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarReport" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Report
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarReport">
            <a class="dropdown-item" routerLink="Report" (click)="imageView(false)">Generate Report</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarAssignment" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Close
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarAssignment">
            <a class="dropdown-item" routerLink="Close_BagCart" (click)="imageView(false)">BagCart</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbaDelete" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">Delete
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDelete">
            <a class="dropdown-item" routerLink="Delete" (click)="imageView(false)">Go</a>
          </div>
        </li>

      </ul>
    </div>
    <div class="row justify-content-end">
      <button type="button" class="btn btn-outline-light" routerLink="" (click)="windows('LogIn')">Sign Out</button>
    </div>
  </nav>

  <div *ngIf="!showImage">
    <router-outlet></router-outlet>
  </div>

  <div *ngIf="showImage">
    <br><br><br><br><br>
    <div class="row justify-content-center">
      <img src="assets/tabas_short.png">
    </div>
  </div>
</div>