<form>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="input_FirstName">First Name</label>
      <input type="text" class="form-control" id="input_FirstName" placeholder="First Name">
    </div>
    <div class="form-group col-md-6">
      <label for="input_LastName">Last Name</label>
      <input type="text" class="form-control" id="input_LastName" placeholder="Last Name">
    </div>
  </div>
  <div class="form-group">
    <label for="input_Email">Email</label>
    <input type="email" class="form-control" id="input_Email" placeholder="Email">
  </div>
  <div class="form-group">
    <label for="input_PhoneNumber">Phone Number</label>
    <input type="text" class="form-control" id="input_PhoneNumber" placeholder="Phone Number">
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="input_Username">Username</label>
      <input type="text" class="form-control" id="input_Username">
    </div>
    <div class="form-group col-md-2">
      <label for="input_Password">Password</label>
      <input type="password" class="form-control" id="input_Password">
    </div>
  </div>
  <button type="button" class="btn btn-primary">Sign Up</button>
</form>

